// 公共的样式块
.border-top {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    height: 1px;
    background: #ededed;
    transform: scaleY(.5);
  }
}

.border-bottom {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1px;
    background: #ededed;
    transform: scaleY(.5);
  }
}

.border {
  position: relative;
  &::after {
    content: '';
    transform: scale(.5);
    position: absolute;
    border: 1px solid #ff5f16;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    border-radius: 4px;
  }
}
